<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gugusapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".WakeOnLanAdd" />
        <activity
            android:name=".WakeOnLan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WifiAnalyzer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sharedpreferencesTEST"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendMail_Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendMailFast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CryptoTracker_Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CryptoTracker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRcodeScan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRcodeCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorageInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemoryInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CpuInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BatteryInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SensorsInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendMail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".speedtest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tempsmail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>